  <ul class="nav nav-pills nav-stacked"  ng-controller="TagCtrl">
    <li class="active"><a href="#/urls">Dashboard</a></li>

    <li id="tags">
      <a data-toggle="collapse" data-parent="#tags" href="#tagLists" class="collapsed">
        <span class="badge pull-right" ng-bind="metatags.total_count"></span>Tags
      </a>
      <ul id="tagLists" class="nav nav-pills nav-stacked collapse list-group">
        <li class="list-group-item" ng-repeat="tag in tags">
          <span class="badge" ng-bind="tag.count"></span>
          <a href="#" ng-bind="tag.name"></a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">
        <span class="badge pull-right">20</span>Unread
      </a>
    </li>
  </ul>