  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#/urls">Dashboard</a></li>

    <li id="tags">
      <a data-toggle="collapse" data-parent="#tags" href="#tagLists" class="collapsed">
        <span class="badge pull-right">3</span>Tags
      </a>
      <ul id="tagLists" class="nav nav-pills nav-stacked collapse list-group">
        <li class="list-group-item"><span class="badge">14</span><a href="#">python</a></li>
        <li class="list-group-item"><span class="badge">4</span><a href="#">django</a></li>
        <li class="list-group-item"><span class="badge">1</span><a href="#">auto create mock data</a></li>
        <li class="list-group-item"><span class="badge">4</span><a href="#">Entertainment</a></li>        
      </ul>
    </li>
    <li>
      <a href="#">
        <span class="badge pull-right">20</span>Unread
      </a>
    </li>
  </ul>